body {
<<<<<<< HEAD
    text-align:center;
    background-color:orangered;
    color:white;
    font-family:"Inter", sans-serif;
}

a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.div1 {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.inside_div {
    transition:all 0.25s;
    background-color:black;
    width:100px;
    height:100px;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
}
.inside_div:hover {
    box-shadow:0 0 5px black;
}

#title, #instructions {
    margin:auto;
}

#title {
    border-bottom:white solid 1px;
    width:fit-content;
}

#instructions {
    width:500px;
    margin-top:20px;
    margin-bottom:20px;
=======
    background-color:red;
}

.inside_div:active{
  background-size: cover;
  background-image: url("/resources/capybara.png");
>>>>>>> 12389f45f4d5680596b4c2426b399e2f2a66ebb1
}